# requirements.txt  (macOS version)
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
numpy==1.26.4
scipy==1.11.4
torch-scatter==2.1.2
torch-sparse==0.6.18
torch-cluster==1.6.4
torch-spline-conv==1.2.2
torch-geometric==2.5.0
matplotlib>=3.8
h5py>=3.11
